* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.para {
    border: 2px solid tomato;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
}