*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin: 10px;
    /* list-style-image: url("/Images/car.png"); */
    list-style-position: inside;
    list-style-type: square;
}