* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding: 5px 10px;
}

.heading1 {
    border: 2px solid dodgerblue;
}

.heading2 {
    border: 2px solid tomato;
}

.heading3 {
    border: 2px solid greenyellow;
}

.box {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box1 {
    height: 50px;
    width: 150px;
    background-color: tomato;
    border-radius: 10px;
    margin: 5px;
}

.box2 {
    height: 50px;
    width: 150px;
    background-color: orange;
    border-radius: 10px;
    margin: 5px;
}

.box3 {
    height: 50px;
    width: 150px;
    background-color: dodgerblue;
    border-radius: 10px;
    margin: 5px;
}

.box4 {
    height: 50px;
    width: 150px;
    background-color: rgb(60, 179, 113);
    border-radius: 10px;
    margin: 5px;
}

.box5 {
    height: 50px;
    width: 150px;
    background-color: #ee82ee;
    border-radius: 10px;
    margin: 5px;
}

.box6 {
    height: 50px;
    width: 150px;
    background-color: #6a5acd;
    border-radius: 10px;
    margin: 5px;
}

.box7 {
    height: 50px;
    width: 150px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 10px;
    margin: 5px;
}

.box8 {
    height: 50px;
    width: 150px;
    background-color: #f5006a;
    border-radius: 10px;
    margin: 5px;
}