* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    letter-spacing: 1px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border-width: 4px;
    border-color: brown;
}

.dashed {
    border-bottom: dashed;
    border-color: blueviolet;
}

.solid {
    border-style: solid;
    border-top: none;
    border-color: tomato;
}

.double {
    border-style: double;
    border-color: mediumseagreen;
}

.groove {
    border-style: groove;
    border-color: rgb(255, 0, 174) rgb(5, 247, 219) blueviolet chocolate;
}

.ridge {
    border-style: ridge;
    border-color: dodgerblue;
}

.inset {
    border-style: inset;
    border-color: rgb(246, 6, 106);
}

.outset {
    border-style: outset;
    border-color: rgb(1, 255, 98);
}

.none {
    border-style: none;
    border-color: blue;
}

.hidden {
    border-style: hidden;
}

.mix {
    border-style: dotted dashed solid inset;
    border-width: 1px 2px 3px 5px;
}
.abc{
    border-left: 6px solid tomato ;
    border-radius: 0;
}