* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aqua;
    background-image: url("/lambo.jpg");
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    background-position: right top;
    background-attachment: scroll;
    /* background-size: cover; */
}

.box {
    /* background-color: mediumseagreen; */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    opacity: 0.7;
    /* background-color: rgba(0, 150, 0, 0.6); */

}